<div class="row repeated-item-fast" ng-repeat="post in ctrl.feed">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
        <div class="row">
            <div class="large-12 columns contents">
                <div class="row">
                    <div class="small-12 medium-10 columns">
                        <h3 style="color: #555">
                            <strong>{{ post.title }}</strong>
                            <span class="subheader"><span class="show-for-medium-up"> | </span><small><br class="show-for-small-only">{{ parseDate(post.posted_on) }}</small></span>
                        </h3>
                    </div>
                    <div class="medium-2 large-2 columns show-for-medium-up">
                        <img class="right" style="width: 50px; height: auto" ng-src="{{ post.photo }}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <h5 class="subheader">{{ post.body }}</h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <post-info post-details="post">
                    </post-info>
                    <br>
                    <reply-form reply-to="post">
                    </reply-form>
                    <comment-area refer-to="post.comments" post-id="post._id">
                    </comment-area>
                </div>

                <div class="row">
                    <div class="small-12">
                        <div style="height: 3em"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>