<style>
    .accordion .accordion-navigation > .content, .accordion dd > .content {
        padding: 0.34rem;
        background-color: rgba(200,200,200,0.3);
    }
</style>
<div class="row repeated-item" ng-repeat="post in ctrl.feed">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
        <div class="row">
            <div class="large-12 columns contents">
                <div class="row">
                    <div class="small-12 medium-10 columns">
                        <h3 style="color: #555">
                            <strong>{{ post.title }}</strong>
                            <span class="subheader"><span class="show-for-medium-up"> | </span><small><br class="show-for-small-only">{{ parseDate(post.posted_on) }}</small></span>
                        </h3>
                    </div>
                    <div class="medium-2 large-2 columns show-for-large-up">
                        <img class="right" style="width: 50px; height: auto" ng-src="{{ post.photo }}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <h5 class="subheader">{{ post.body }}</h5>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <post-info on-reply-clicked="setToggledReply(post._id)"
                               post-details="post">
                    </post-info>

                    <reply-form show="getToggledReply(post._id)"
                                reply-to="post"
                                on-close="setToggledReply(0)">
                    </reply-form>

                    <div class="large-12 columns">
                        <accordion close-others="oneAtATime">
                            <accordion-group is-open="isopen">
                                <accordion-heading>
                                    {{ post.comments.length }} Comments
                                    <i class="right icon-adjust" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}">
                                    </i>
                                </accordion-heading>
                                <div class="row" ng-repeat="comment in post.comments">
                                    <comment comment-data="comment" is-open="isopen"></comment>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>