/* One second linear fade, for primary content ng-repeat */
.repeated-item.ng-enter, .repeated-item.ng-move {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    opacity:0;
}
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity:1;
}
.repeated-item.ng-leave {
    -webkit-animation:1s fade;
    -moz-animation:1s fade;
    -o-animation:1s fade;
    animation:1s fade;
}
/* Quicker linear fade, for smaller content that might be shown or hidden often */
.repeated-item-fast.ng-enter, .repeated-item-fast.ng-move {
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
    opacity:0;
}
.repeated-item-fast.ng-enter.ng-enter-active,
.repeated-item-fast.ng-move.ng-move-active {
    opacity:1;
}
.repeated-item-fast.ng-leave {
    -webkit-animation:0.3s fade;
    -moz-animation:0.3s fade;
    -o-animation:0.3s fade;
    animation:0.3s fade;
}

@keyframes fade {
    from { opacity:1; }
    to { opacity:0; }
}
@-webkit-keyframes fade {
    from { opacity:1; }
    to { opacity:0; }
}
@-moz-keyframes fade {
    from { opacity:1; }
    to { opacity:0; }
}

@-o-keyframes fade {
    from { opacity:1; }
    to { opacity:0; }
}

.rotate {
    -webkit-animation-duration: 1s;
}
.ng-leave.rotate {
    -webkit-animation-name: rotate-leave;
}
.ng-enter.rotate {
    -webkit-animation-name: rotate-enter;
}
@-webkit-keyframes rotate-leave {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
}
@-webkit-keyframes rotate-enter {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-360deg);
        opacity: 1;
    }
}

.pop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.pop.ng-enter,
.pop.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.pop.ng-enter {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.pop.ng-enter-active,
.pop.ng-leave,
.pop.ng-leave-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.pop.ng-leave-active {}


div.fade {
    opacity: 1;
}

div.fade.ng-enter {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    opacity: 0;
}

div.fade.ng-enter-active {
    opacity: 1;
}