<style>
    nav .button {
        border: 0;
        background: none;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        box-shadow: 0;
        font-size: 0.65em;
        color: #555555;
        text-transform: uppercase;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    nav .button:hover {
        background: none;
        -webkit-box-shadow: 0px 2px 0px #008CBA;
        -moz-box-shadow: 0px 2px 0px #008CBA;
        box-shadow: 0px 2px 0px #008CBA;
        color: #555555;
    }
    nav .button:focus {
        background: none;
        -webkit-box-shadow: 0px 2px 0px #43AC6A;
        -moz-box-shadow: 0px 2px 0px #43AC6A;
        box-shadow: 0px 2px 0px #43AC6A;
        color: #555555;
    }
    nav .button:active {
        -webkit-box-shadow: 0px 2px 0px #43AC6A;
        -moz-box-shadow: 0px 2px 0px #43AC6A;
        box-shadow: 0px 2px 0px #43AC6A;
        background: none;
        color: #555555;
    }

    #feed {
        opacity: 1;
    }
    #feed.ng-enter {
        -webkit-transition: 1.5s;
        transition: 1.5s;
        opacity: 0;
    }
    #feed.ng-enter-active {
        opacity: 1;
    }
</style>
<nav class="row">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
        <ul class="button-group radius even-4">
            <li><a class="button" ng-click="getFeed('github')" href="">GitHub</a></li>
            <li><a class="button" ng-click="getFeed('facebook')" href="">Facebook</a></li>
            <li><a class="button" ng-click="getFeed('twitter')" href="">Twitter</a></li>
            <li><a class="button" ng-click="getFeed('linkedin')" href="">LinkedIn</a></li>
        </ul>
    </div>
</nav>
<div class="row" id="feed" ng-repeat="post in feed">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
        <div class="row">
            <div class="small-3 medium-2 large-2 columns">
                <img ng-src="{{ post.photo }}"/>
            </div>
            <div class="small-9 medium-10 large-10 columns">
                <p><strong>{{ post.title }}</strong>
                    {{ post.body }}
                </p>
                <accordion close-others="oneAtATime">
                    <accordion-group is-open="isopen">
                        <accordion-heading>
                            {{ post.comments.length }} Comments <i class="right icon-adjust" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <div class="row" ng-repeat="comment in post.comments">
                            <div class="large-2 columns small-3"><img ng-src="{{ comment.photo }}"/></div>
                            <div class="large-10 columns"><p>{{ comment.body }}</p></div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>

        <hr/>
    </div>
</div>