<nav class="row">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
        <ul class="button-group radius even-4">
            <li>
                <button id="gitFeed"
                        class="button feed-btn"
                        ng-class="{hover: gitHover, focus: focusIndex == 0}"
                        ng-mouseenter="gitHover = true"
                        ng-mouseleave="gitHover = false"
                        ng-click="getFeed(feedOption.github)">{{ feedOption.github.display }}
                </button>
            </li>
            <li>
                <button id="fbFeed"
                        class="button feed-btn"
                        ng-class="{hover: fbHover, focus: focusIndex == 1}"
                        ng-mouseenter="fbHover = true"
                        ng-mouseleave="fbHover = false"
                        ng-click="getFeed(feedOption.facebook)">{{ feedOption.facebook.display }}
                </button>
            </li>
            <li>
                <button id="twitterFeed"
                        class="button feed-btn"
                        ng-class="{hover: twHover, focus: focusIndex == 2}"
                        ng-mouseenter="twHover = true"
                        ng-mouseleave="twHover = false"
                        ng-click="getFeed(feedOption.twitter)">{{ feedOption.twitter.display }}
                </button>
            </li>
            <li>
                <button id="linkedinFeed"
                        class="button feed-btn"
                        ng-class="{hover: linkedHover, focus: focusIndex == 3}"
                        ng-mouseenter="linkedHover = true"
                        ng-mouseleave="linkedHover = false"
                        ng-click="getFeed(feedOption.linkedin)">{{ feedOption.linkedin.display }}
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="row fade" ng-repeat="post in feed">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
        <div class="row">
            <div class="small-3 medium-2 large-2 columns">
                <img ng-src="{{ post.photo }}"/>
            </div>
            <div class="small-9 medium-10 large-10 columns">
                <p><strong>{{ post.title }}</strong>
                    {{ post.body }}
                </p>
                <accordion close-others="oneAtATime">
                    <accordion-group is-open="isopen">
                        <accordion-heading>
                            {{ post.comments.length }} Comments <i class="right icon-adjust" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <div class="row" ng-repeat="comment in post.comments">
                            <div ng-if="isopen" class="large-2 medium-2 small-3 columns fade"><img ng-src="{{ comment.photo }}"/></div>
                            <div ng-if="isopen" class="large-10 medium-10 small-9 columns fade"><p>{{ comment.body }}</p></div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>

        <hr/>
    </div>
</div>