<div class="landing row">
    <hero title="Benjamin Hansen"></hero>
</div>
<div class="landing row">
    <content-section photo="assets/img/stock_1.png"
                     title="this is a content section">
    </content-section>
    <content-section photo="assets/img/stock_2.png"
                     title="this is a content section">
    </content-section>
    <content-section photo="assets/img/stock_3.png"
                     title="this is a content section">
    </content-section>
</div>
<div class="landing row">
    <div class="large-12 columns">
        <div class="panel">
            <h4>Get in touch!</h4>
            <div class="row">
                <div class="large-9 columns">
                    <p>I'd love to hear from you, you attractive person you.</p>
                </div>
                <div class="large-3 columns">
                    <a href="#" class="radius button right">Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</div>