<style>
    a.th.comment {
        padding: 0.5em;
        word-wrap: break-word;
        width: 100%;
    }
</style>
<div ng-if="shouldDisplay" style="margin-bottom: 0.34rem">
    <div class="small-12 columns">
        <a class="th comment" href="#" style="background-color: white">
            <img style="max-width: 45px; max-height: 45px" class="right" ng-src="{{ comment.photo }}"/>
            <h5>
                ben-hunter-hansen
            </h5>
            <p class="subheader">
                {{ comment.text }}
            </p>
        </a>
    </div>
</div>
