<style>
    a.focused {
        color: #007095;
    }
    a.inactive {
        color: #a0d3e8;
    }
</style>
<div class="large-9 medium-4 small-6 columns">
    <a href="#" class="button tiny left split no-pip">
        {{ post.points }} Points
        <span ng-click="pointsClick()"><i class="fa fa-thumbs-o-up"></i></span>
    </a>
</div>
<div class="large-3 medium-8 small-6 columns">
    <ul class="inline-list right">
        <li>
            <a href="#" ng-class="{focused: commentVisible, inactive: !commentVisible}"
               ng-click="commentClick()">
                <i class="fa fa-comments fa-2x focused" ng-class="{inactive: !commentVisible}"></i>
            </a>
        </li>
        <li>
            <a href="#" ng-class="{focused: replyVisible, inactive: !replyVisible}" ng-click="replyClick()">
                <i class="fa fa-comment fa-2x focused" ng-class="{inactive: !commentVisible}"></i>
            </a>
        </li>
    </ul>
</div>